.profile_left
  %h2= @user.name
  .avatar
    = image_tag @user.avatar

  - if @user.status
    %p
      Status:
      = @user.status

  %p
    User since:
    = @user.created_at.strftime '%B %m %Y'

  - if @user.city
    %p
      Lives in:
      = @user.city + ','
      = @user.country

  - if @current_user && (@current_user.id == @user.id)
    .linking_button
      = link_to 'Add item', new_product_path
 
    .linking_button
      = link_to 'Edit profile', edit_user_path

.profile_right
  - if @user.products
    %p
      Works:
      %ul
        - @user.products.each do |product|
          %li= link_to product.title, product
