%h2= @user.name
%p
  User since:
  = @user.created_at.strftime '%B %m %Y'


- if @user.city
  %p
    Lives in:
    = @user.city + ','
    = @user.country

- if @user.status
  %p
    Status:
    = @user.status

= image_tag @user.avatar

- if @user.products
  %p
    Products:
    %ul
      - @user.products.each do |product|
        %li= link_to product.title, product


- if @current_user && (@current_user.id == @user.id)
  %p
    = link_to 'Add product', new_product_path
 
  %p
    = link_to 'Edit profile', edit_user_path