<!DOCTYPE html>
<html>
<head>
  <title>Charisma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="container">
    <ul>
      <li><%= link_to('Home', root_path) %></li>
      <li><%= link_to('Categories', categories_path) %></li>
      <li><%= link_to('Products', products_path) %></li>
      <%== intellinav %>
    </ul>
  </div>
</nav>

<div class="container main">
  <%= yield %>
</div>

<footer>&copy; T.Butenko 2014</footer>

<script type="text/javascript">
  $(function() {
    $(document.body).on('click', 'button.buy', function() {
      var $button = $(this),
      productId = $button.data('product'),
      productName = $button.data('name'),
      productPrice = $button.data('price');
      
      console.log(productId, productName, productPrice);
    })
  })
</script>

</body>
</html>
