<!DOCTYPE html>
<html>
<head>
  <title>Charisma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav class='main_nav'>
      <ul>
        <li><%= link_to('Home', root_path) %></li>
        <li><%= link_to('Categories', categories_path) %></li>
        <li><%= link_to('Products', products_path) %></li>
      </ul>
      
    <div class="user_nav">
      <%== intellinav %>
    </div>
  </nav>
</header>
<div class="container main">
  <%= yield %>
</div>

<footer>&copy; 2014 T.Butenko </footer>



</body>
</html>
